<% content_for :page_title, "Feed" %>
<%= stylesheet_link_tag 'post', media: 'all' %>

<p style="color: green"><%= notice %></p>

<div class="left-panel">

</div>
<div id="posts" class="content-posts">
  <% @posts.each do |post| %>
    <%= render post %>
  <% end %>
</div>
<%#= link_to "New post", new_post_path %>

<%#= link_to "Show this post", post %>