<% content_for :page_title, "Feed" %>

<%= render 'shared/left_panel' %>
<div id="posts" class="content-posts">
  <% @posts.each do |post| %>
    <%= render post %>
  <% end %>
</div>
<%#= link_to "New post", new_post_path %>

<%#= link_to "Show this post", post %>